<a href="https://colab.research.google.com/github/Nandan0402/Salary-Prediction-ML/blob/main/Salary_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('Salary_Data.csv')
print(df)

     company  totalyearlycompensation  yearsofexperience  yearsatcompany  \
0     Google                   180000                  5               2
1     Amazon                   160000                  4               1
2  Microsoft                   170000                  6               3
3      Apple                   190000                  7               4
4       Meta                   200000                  8               5
5    Infosys                    80000                  3               2
6        TCS                    75000                  2               1
7      Wipro                    70000                  2               1
8  Accenture                   120000                  4               2
9        IBM                   110000                  5               3

   basesalary
0      140000
1      130000
2      135000
3      150000
4      160000
5       60000
6       55000
7       52000
8       90000
9       85000

In [14]:
print(df.columns)

Index(['company', 'totalyearlycompensation', 'yearsofexperience',
       'yearsatcompany', 'basesalary'],
      dtype='object')

In [15]:
salaryDF = df[['company','totalyearlycompensation','yearsofexperience', 'yearsatcompany', 'basesalary']]

In [16]:
print(salaryDF.head())

     company  totalyearlycompensation  yearsofexperience  yearsatcompany  \
0     Google                   180000                  5               2
1     Amazon                   160000                  4               1
2  Microsoft                   170000                  6               3
3      Apple                   190000                  7               4
4       Meta                   200000                  8               5

   basesalary
0      140000
1      130000
2      135000
3      150000
4      160000

In [17]:
def reme(targets,predicitions):
  return np.sqrt((np.square(predicitions - targets)).mean())

def calculateWeights(x_train,y_train):
   w = np.linalg.inv(np.transpose(x_train).dot(x_train)).dot(np.transpose(x_train).dot(y_train))
   return w